.container{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.container__search{
margin-top: 2rem;
}
.container__todo-list{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container__todo-list > div {
  flex: 1 1 30%;
  height: 200px;
  max-width: 266px;
}

.container__todo-list > .todo{
  margin: 10px;
  background-color: #fff581;
  border-radius: 10px;
  box-shadow: 2px 2px 7px 5px rgba(0,0,0,0.46);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo > .todo__title{
  padding: 1rem;
}
.todo > .todo__description{
  padding: 1rem;
}

.todo > .todo__bottom{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}
.todo__remove{
  cursor: pointer;
}

.container__todo-list > .add__todo form{
  overflow: hidden;
  background-color: #52baaf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}
input{
  -webkit-appearance:     none;
  -moz-appearance:        none;
  -ms-appearance:         none;
  -o-appearance:          none;
  appearance:             none;
  box-shadow : none; 
  border:none;
}
input:focus, textarea:focus{
  outline: none;
}

textarea{
  border:none;
  color:grey;
  background-color: #52baaf;
  resize: none;
}

.add__todo > form > input{
  border:none;
  color:grey;
  background-color: #52baaf;
}

.add__todo > form > input.todo__submit{
  background-color: #B2B1B9;
  color: white;
  padding: 10px 0;
  width: 70px;
  border-radius: 7px;
}
.container__search > input {
font-weight: 600;
font-size: 18px;
}

